/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
@font-face {
    font-family: 'Huiwen';
    src: url('./assets/Huiwen_mingchao.woff2') format('woff2');
}

.huiwen-font {
    font-family: 'Huiwen', sans-serif;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}